@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}
.Main {
  min-height: 100vh;
  width: 100%;
}
.top {
  position: relative;
  height: 70vh;
  width: 100%;
  background-color: #ffcd9e;
}
.bottom {
  width: 100%;
  min-height: 30vh;
  background-color: rgb(36, 35, 35);
}
.left {
  display: flex;
  margin-left: 140px;
}
.left h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  width: 570px;
  height: 108px;
  margin-top: 81px;
}
.left h4 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 490px;
  margin-top: 219px;
}
.left span {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 490px;
  margin-top: 319px;
}
.left .Email {
  position: absolute;
  height: 55px;
  width: 320px;
  border: 4px solid;
  top: 375px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
}
.left #Submit {
  position: absolute;
  height: 55px;
  width: 160px;
  border-radius: 5px;
  top: 375px;
  left: 475px;
  background-color: rgb(51, 35, 17);
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.left h5 {
  position: absolute;
  top: 450px;
  color: aliceblue;
}
.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}
.right img {
  margin-top: -162px;
  height: 500px;
}
.bottom {
  position: relative;
}
.bottom-left {
  display: flex;
  list-style-type: none;
  flex-flow: column;
  gap: 8px;
  padding-left: 140px;
  padding-top: 30px;
}
.bottom-left li {
  font-family: poppins;
  color: white;
}
.bottom-right {
  display: flex;
  list-style-type: none;
  align-items: end;
  gap: 8px;
  flex-flow: column;
  margin-right: 60px;
  margin-top: -140px;
}
.bottom-right li {
  display: flex;
  flex-direction: column;
  font-family: poppins;
  color: white;
}
